.agent-posts {
    position: relative;
    display: flex;
    flex-direction: column;
}

.agent-posts-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--mainWhite);
    border-radius: 10px;
}

.agent-posts-heading h2 {
    margin: 0;
}

.agent-house-image {
    width: 50px;
}

.add-house-modal {
    box-sizing: border-box;
    position: absolute;
    background-color: var(--mainWhite);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px var(--secondBlue);
    width: 50%;
    max-width: 750px;
    padding: 30px 20px;
}

.modal-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.modal-heading h2 {
    margin: 0;
}

@media (max-width: 426px) {
    .agent-posts-heading {
        font-size: 0.8em;
    }

    .add-house-modal {
        width: unset;
        place-self: anchor-center;
    }

    .add-house-button button {
        font-size: 0.8em;
    }
}