.chat-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--mainWhite);
    height: 100%;
    flex: 1;
    min-height: 0;
    border-radius: 10px;
}

.chat-section h2 {
    color: var(--mainBlue);
}

.chat-contact-section {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    border-right: 2px solid var(--backgroundGray);
    padding: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


.chat-message-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    height: 100%;
    padding: 15px;
}

.no-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chat-message-container {
    width: 100%;
    background-color: var(--backgroundGray);
    height: 100%;
}