.dashboard-header {
    background-color: var(--mainBlue);
}

.header-title h2 {
    color: var(--mainWhite);
    margin: 0;
}

.dashboard-header-content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-menu-icon {
    display: none;
}

.dashboard-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.dashboard-notification-bell {
    display: flex;
    color: var(--mainWhite);
}

.notification-bell {
    font-size: 1.2em;
    cursor: pointer;
}

.greeting {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--mainWhite);
}

.greeting-icon img {
    width: 30px;
    border-radius: 50%;
    background-color: var(--secondBlue);
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-info p {
    margin: 0;
}

.notifications-container {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 500px;
    width: 300px;
    min-height: 200px;
    top: calc(100% + 20px);
    right: 0;
    background-color: var(--mainWhite);
    padding: 15px 30px;
    box-shadow: 0 0 2px 0 var(--mainBlue);
    z-index: 100;
}

.no-notification {
    align-self: center;
}

/* RESPONSIVE CSS */

/* TABLET VIEW */
@media (max-width: 769px) {

    .notifications-container {
        width: 270px;
        padding: 15px 20px;
    }

    .sidebar-menu-icon {
        display: block;
        font-size: 1.5em;
        color: var(--mainWhite);
    }

    .header-title h2 {
        /* margin: 0;
        font-size: 1em; */
        display: none;
    }
}


/* MOBILE VIEW */
@media (max-width: 426px) {
    .sidebar-menu-icon {
        display: block;
    }
    .header-title h2 {
        /* margin: 0;
        font-size: 1em; */
        display: none;
    }

    .greeting {
        gap: 10px;
    }

    .greeting-icon {
        width: 30px;
    }

    .user-info {
        display: none;
    }

}