.sidebar {
    height: 100vh;
}

.sidebar-container {
    position: static;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--mainBlack);
    padding: 20px 0;
    height: 100%;
    transition: ease-in;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-image {
    width: 150px;
    height: 115px;
    margin: 0 auto;
}

.sidebar-image.sidebar-closed {
    width: 110px;
}

.close-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    color: var(--mainWhite);
    border: 1px solid var(--mainWhite);
    width: 100%;
    cursor: pointer;
}

.sidebar-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.close {
    width: 100%;
}

.sidebar-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}

.sidebar-option p {
    margin: 0;
}

.sidebar-icon {
    width: 30px;
}

/* MOBILE VIEW */
@media (max-width: 426px) {
    .sidebar-image {
        width: 100px;
        height: 90px;
        margin: 0 auto;
    }

    .sidebar-image.sidebar-closed {
        width: unset;
    }

    .sidebar-option {
        padding: 20px 15px;
        font-size: 0.7em;
    }

    .sidebar-icon {
        width: unset;
    }
}