.dashboard-header {
    background-color: var(--mainWhite);
}

.dashboard-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.greeting {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.greeting-icon {
    width: 40px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-info p {
    margin: 0;
}