.dashboard-content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundGray);
    width: 100%;
    min-width: 0;
    height: 100vh
}

.dashboard-section-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1; /*Take up remaining height after dashboard header*/
    min-height: 0;
}