.dashboard-header {
    background-color: var(--mainWhite);
}

.header-title h2 {
    margin: 0;
}

.dashboard-header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-menu-icon {
    display: none;
}

.greeting {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.greeting-icon {
    font-size: 1.3em;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user-info p {
    margin: 0;
}

/* MOBILE RESPONSIVE */
@media (max-width: 426px) {
    .sidebar-menu-icon {
        display: block;
    }
    .header-title h2 {
        margin: 0;
        font-size: 1em;
    }

    .greeting {
        gap: 10px;
    }

    .greeting-icon {
        width: 30px;
    }

    .user-info {
        display: none;
    }

}