.sidebar-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--mainBlack);
    padding: 20px 0;
    height: 100%;
    transition: ease-in;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-image {
    /* width: 150px; Property set in JSX */
    height: 115px;
    margin: 0 auto;
}

.close-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    color: var(--mainWhite);
    border: 1px solid var(--mainWhite);
    width: 100%;
    cursor: pointer;
}

.sidebar-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}

.sidebar-option p {
    font-weight: bold;
    margin: 0;
}

.sidebar-icon {
    width: 30px;
}