.sidebar-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--mainBlack);
    padding: 20px 0;
    height: 100%;
}

.sidebar-image {
    width: 150px;
    margin: 0 auto;
}

.sidebar-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    cursor: pointer;
}

.sidebar-option p {
    font-weight: bold;
}

.sidebar-icon {
    width: 30px;
}