.favorites-container {
    background-color: var(--mainWhite);
    padding: 10px 20px;
    border-radius: 10px;
}

.favorites-header {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent, var(--mainBlack), transparent) 1;
}

.favorites-header h3 {
    margin: 0;
}

.filters-container {
    background-color: var(--mainWhite);
    padding: 10px 20px;
    border-radius: 10px;
}

.feed-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feed-filters input {
    width: 100%;
    border-radius: 0;
    border-top: none;
    border-right: 1px solid var(--mainBlack);
    border-bottom: none;
    border-left: 1px solid var(--mainBlack);
    outline: none;
}

.house-feed-container {
    background-color: var(--mainWhite);
    padding: 10px 20px;
    border-radius: 10px;
}

.house-feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-filter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-dropdown-input {
    display: flex;
    border: none;
    background: transparent;
    outline: none;
}

/* House Feed List */
.house-feed-list .house-list-item {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 1px 0 var(--mainBlue);
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 10px;
}

.house-feed-list .house-feed-list-image {
    width: 100px;
    height: 100px;
}

.house-feed-list .house-feed-list-details {
    width: 100%;
}

.house-feed-list .feed-details-top {
    justify-self: flex-end;
    font-size: 0.7em;
    color: var(--textGray);
}

.house-feed-list .feed-details-heading {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
}

.feed-details-heading h3 {
    margin: 0;
}

.feed-details-description p {
    font-size: 0.95em;
    margin-top: 5px;
    color: var(--textGray);
}

.house-feed-list .feed-details-buttom {
    justify-self: flex-end;
}

.feed-details-buttom button {
    background-color: transparent;
    color: var(--mainBlue);
    font-size: 1.3em;
    padding: 0;
}
