.haunter-feed {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.feeds-section {
    margin: 0 !important;
    padding: 0 !important;
}

.favorites-container {
    background-color: var(--mainWhite);
    padding: 10px 20px;
    border-radius: 10px;
}

.favorites-header h3 {
    margin: 0;
}

.filters-container {
    margin-bottom: 25px;
}

.feed-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.feed-filters input {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--mainWhite);
}

.price-filter-input {
    max-width: 300px;
}

.house-feed-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
}

.feed-selector {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.feed-selector-button {
    background-color: transparent !important;
    color: var(--textGray);
    padding: 0;
}

.active-feed {
    border-bottom: 2px solid var(--mainBlue);
    color: var(--mainBlack);
}

.house-feed-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-dropdown-input {
    display: flex;
    border: none;
    background: transparent;
    outline: none;
}

/* House Feed List */
.house-feed {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.house-feed-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    scroll-behavior: smooth;
}

.house-feed-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, Opera */
}

.house-feed-list .house-list-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 0 var(--mainBlue);
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--mainWhite);
}

.house-feed-list .house-list-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 15px;
}

.house-feed-list .house-feed-list-image {
    min-width: 150px;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    overflow: hidden;
}

.house-feed-list-image img {
    object-fit: cover;
}

.house-feed-list .house-feed-list-details {
    width: 100%;
}

.house-feed-list .feed-details-top {
    justify-self: flex-end;
    font-size: 0.7em;
    color: var(--mainBlack);
}

.house-feed-list .feed-details-heading {
    color: var(--mainBlue);
    margin-bottom: 15px;
}

.feed-details-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.feed-details-description p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95em;
    margin-top: 5px;
    color: var(--mainBlack);
}

.house-feed-list .feed-details-buttom {
    justify-self: flex-end;
}

.feed-details-buttom button {
    background-color: transparent;
    color: var(--mainBlue);
    font-size: 1.3em;
    padding: 0;
}

.house-list-agent {
    border-top: 1px solid var(--mainBlue);
    padding: 5px 10px;
    font-size: 0.76em;
    text-align: right;
    color: var(--textGray);
}


/* RESPONSIVE CSS */

/* Mobile */
@media (max-width: 426px) {
    .house-feed-list .house-list-content {
        flex-direction: column;
    }

    .house-feed-list .house-feed-list-image {
        width: unset;
        height: auto;
        max-height: 200px;
        overflow: hidden;
    }
}