.house-details-page {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.house-details-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0px;
}

.return-button button {
    background: transparent;
    color: var(--mainBlue);
    padding: 0;
}

.house-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.house-details-image {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    height: 350px;
}

.house-details-image > * {
    /* Applies only to all direct child of house-details-image (grandchildren not affected) */
    min-height: 0;
}

.details-main-image,
.details-secondary-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.details-main-image {
    border-radius: 5px;
}

.details-secondary-image {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;  
}

.secondry-image-box {
    height: 100%;
    min-height: 0;
    border-radius: 5px;
    overflow: hidden;
}

.details-main-image img,
.details-secondary-image img {
    height: 100%;
    object-fit: cover;
}

.image-overlay-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.see-all-images {
    padding: 10px;
    background-color: var(--transparentBlue);
}

.house-details .house-details-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.house-details-content .details-main-description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 2;
    box-shadow: 0 0 2px 0 var(--mainBlue);
    border-radius: 5px;
    padding: 15px;
    gap: 20px;
}

.main-description-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main-description-top .title-and-location {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-description-title {
    font-size: 1.3em;
    font-weight: bold;
}
.main-description-location {
    color: var(--textGray);
    font-size: 0.9em;
}

.main-description-top .price {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price .price-text {
    font-size: 0.8em;
}

/* .price .main-description-price {

} */

.description-body-heading {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}

.house-details-content .agent-description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    flex: 1;
    box-shadow: 0 0 2px 0 var(--mainBlue);
    border-radius: 5px;
    padding: 10px;
}

/* All Image Modal */
.all-images-modal {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--transparentBlack);
    padding: 10px 15px;
    overflow: hidden;
}

.close-modal-button {
    position: fixed;
    top: 3%;
    right: 12%;
    z-index: 5;
}

.close-modal-button button {
    display: flex; /*So svg alignes to center*/
    background-color: var(--transparentBlue);
    color: var(--mainWhite);
    padding: 5px;
    font-size: 2em;
    border-radius: 50px;
}

.imgaes-carousal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    height: 100%;
}

/* .swiper is the className of <Swiper /> */
.swiper {
  width: 100%;
}

.mainSwiper {
    height: 70%;
}

.mySwiper-image {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

.mySwiper-image img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; Might Add back later if Image distorts*/
}

.thumbnailSwiper {
    height: 20%;
}

.mySwiper-thumbnail-image {
    background: var(--mainBlue);
    background-blend-mode: overlay;
}

.mySwiper-thumbnail-image img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/* Property gotten from <SwiperSlide/> */
.swiper-slide-thumb-active {
    background-color: unset;
    opacity: 1;
}

.swiper-slide-thumb-active img {
    opacity: 1;
}

@media (hover: hover) {
    .return-button button:hover {
        color: var(--secondBlue);
    }
    .see-all-images:hover {
        background-color: var(--mainBlue);
    }

    .close-modal-button button:hover {
        background-color: var(--mainBlue);
    }
}

/* RESPONSIVE CSS */
@media (max-width: 769px) {
    .house-details-container {
        padding: 30px 10%;
        margin: 0;
    }

    .house-details-image {
        grid-template-columns: unset;
        grid-template-rows: 2fr 1fr;
        gap: 15px;
    }

    .details-secondary-image {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        gap: 15px;
    }

    .house-details .house-details-content {
        flex-direction: column;
        gap: 20px;
    }

    .imgaes-carousal {
        width: 90%;
    }

    .thumbnailSwiper {
        height: 15%;
    }
}

/* Mobile View */

@media (max-width: 426px) {
    .house-details-container {
        padding: 30px 20px;
        margin: 0;
    }

    .house-details-image {
        grid-template-columns: unset;
        grid-template-rows: 2fr 1fr;
        gap: 15px;
    }

    .details-secondary-image {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        gap: 15px;
    }

    .house-details .house-details-content {
        flex-direction: column;
        gap: 20px;
    }
    .close-modal-button {
        top: 10%;
        right: 10%;
    }
    .close-modal-button button {
        font-size: 1.5em;
    }

    .imgaes-carousal {
        justify-content: space-evenly;
        width: 100%;
    }

    .thumbnailSwiper {
        height: 10%;
    }
}