.alert {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.success-alert {
    background: #0d48a1e3;
    color: var(--mainWhite);
    padding: 25px;
    border-bottom-left-radius: 10px;
}

.fail-alert {
    background: var(--transparentRed);
    color: var(--mainWhite);
    padding: 25px;
    border-bottom-left-radius: 10px;
}