/* HERO CSS */
.hero {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, var(--mainWhite), var(--mainWhite), transparent);
  margin: 0;
  padding: 0 4%;
}

.hero-body {
    display: flex;
    flex-direction: row;
}

.hero-image {
    position: absolute;
    width: 50%;
    max-width: 760.4px;
    height: 85%;
    max-height: 670px;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero-image img {
    width: 100%;
    height: 100%;
}


.hero-bkg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.hero-bkg.active {
  opacity: 1;
}


.hero-text {
    width: 50vw;
    margin-top: 45px;
    z-index: 1;
}

.hero-text h1 {
    font-size: 3.5em;
}

.hero-text p {
    font-size: 1.5em;
}

/* SEARCH SECTION */
.home-search-section {
    position: relative;
    margin: 0;
}

.home-search {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    background: var(--mainWhite);
    margin: 0 auto;
    padding: 10px 30px;
    box-shadow: 0px 0 10px 0px var(--mainBlack);
    left: 14%;
    bottom: -50px;
    transform: translate(0%, 0%);
}

.home-search-heading h2 {
    margin: 0;
    color: var(--mainBlue);
}

.home-search-body {
    display: flex;
    align-items: center;
    gap: 40px;
}

.home-search-boxes {
    display: flex;
    gap: 20px;
    width: 100%;
}

.home-search-box {
    position: relative;
    width: 100%;
}

.home-search-box input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
}

.search-box-icon {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translate(0, 0);
}

.home-search-button {
    width: 140px;
}

.home-search-button button {
    box-sizing: border-box;
    width: 100%;
}

/* HOW T WORKS */
.how-it-works {
    display: flex;
    flex-direction: column;
}

.how-it-works-heading {
    margin-bottom: 15px;
}

.how-it-works-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 40px;
    row-gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.how-it-works-card {
    background-color: var(--mainWhite);
    color: var(--mainBlack);
    border: 1px solid var(--mainBlue);
}

.card-icon {
    width: 60px;
    height: auto;
}

/* TOGGLE SWITCH UI */
.role-toggle-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

/* Toggle wrapper */
.toggle {
  position: relative;
  width: 50px;
  height: 25px;
  display: inline-block;
}

/* Hide the default checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider UI */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--secondBlue);
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

/* Knob */
.slider::before {
  content: "";
  position: absolute;
  height: 19px;
  width: 19px;
  left: 3px;
  top: 3px;
  background: var(--mainWhite);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* When checkbox is ON */
.toggle input:checked + .slider {
  background: var(--mainBlue);
}

/* Move knob */
.toggle input:checked + .slider::before {
  transform: translateX(25px);
}

/* Text label */
.role-label {
  text-transform: capitalize;
  font-weight: 600;
}

/* WHY CHOOSE US SECTION */
.why-choose-us {
    display: flex;
    justify-content: space-between;
}

.why-choose-us-heading {
    margin-bottom: 15px;
}

.why-choose-us-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.why-choose-us-card {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--mainBlue);
    color: var(--mainWhite);
    height: 150px;
    padding: 15px 20px;
}

.why-choose-us-icon {
    width: 50px;
}

.why-choose-us-card-text {
    font-size: 0.9em;
}

.why-choose-us-card-text h3 {
    margin-top: 0;
}

.why-choose-us-image {
    width: 500px;
    border-radius: 200px 10px;
    overflow: clip;
}

.why-choose-us-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CTA SECTION */

.cta-section {
    display: flex;
    background-image: url("./img/cta.jpg");
    background-color: var(--mainBlack);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    height: 30vh;
}

.cta {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--mainWhite);
    width: 100%;
}

.cta-text {
    font-size: 1.5em;
}

.cta-button {
    font-size: 1em;
}

/* SIGN UP SECTION */
.home-signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signup-image {
    width: 100px;
}


/* TESTIMONIAL SECTION */
.testimonial-section {
    display: flex;
    flex-direction: column;
}

.testimonial-section h2 {
    margin-bottom: 15px;
}

.testimonials-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* overflow: hidden; */
    width: 100%;
}

.testimonials-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
    /* animation: scroll 15s linear infinite; */
}

.review-quote {
    width: 50px;
}

.review-text {
    font-size: 2em;
    margin-top: 0;
}

.author-image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.author-image {
    width: 40px;
    opacity: 0.4;
    cursor: pointer;
    border-radius: 50px;
}

.author-image.active {
    opacity: 1;
}

/* RESPONSIVE CSS */
@media (max-width: 1035px) {
    .hero-text {
        width: 55vw;
    }

    .hero-text h1 {
        font-size: 3.5em;
    }

    .hero-text p {
        font-size: 1.6em;
    }

    .home-search {
        left: 50%;
        bottom: -50%;
        transform: translate(-50%, 0%);
    }

    .home-search-body {
        gap: 20px;
    }

    .why-choose-us-image {
        width: 380px;
    }

    .why-choose-us-card {
        width: 420px;
    }
}

@media (max-width: 959px) {
    .hero-text {
        width: 80vw;
    }

    .home-search-section {
        display: none;
    }
}
/* Tablet View */
@media (max-width: 769px) {
    .hero-image {
        width: 70%;
    }
    .hero-text {
        width: 100%;
    }

    .how-it-works-cards {
        width: 100%;
    }

    .why-choose-us {
        display: flex;
        justify-content: center;
    }

    .why-choose-us-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .why-choose-us-card {
        max-width: 340px;
        width: unset;
    }

    .why-choose-us-image {
        display: none;
    }

    .cta-text {
        font-size: 1em;
    }
}

@media (max-width: 572px) {
    .hero {
        background-image: linear-gradient(to bottom, var(--mainWhite), var(--mainWhite), transparent);
    }

    .hero-text h1 {
        font-size: 3.5em;
    }

    .hero-image {
        width: 100%;
    }
}

@media (max-width: 513px) {
    .why-choose-us-card {
        flex-direction: column;
    }

    .why-choose-us-icon {
        width: 30px;
    }

    .why-choose-us-card-text {
        font-size: 0.7em;
    }
}

/* Mobile View */
@media (max-width: 426px) {
    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 3.4em;
    }

    .hero-text p {
        font-size: 1.5em;
    }

    .hero-image {
        width: 100%;
    }

    .home-signup-text button {
        font-size: 1em;
    }

    .signup-button {
        padding: 10px;
    }

    /* HOW IT WORKS SECTION */
    .how-it-works-cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .how-it-works-card {
        height: 200px !important;
    }

    /* WHY CHOOSE US */
    .why-choose-us-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .why-choose-us-card {
        align-items: flex-start;
        max-width: 390px;
        width: unset;
    }

    /* CTA */
    .cta {
        flex-direction: column;
        align-items: unset;
        justify-content: center;
    }

    /* TESTIMONIAL */
    .testimonials-card-container {
        width: 100%;
    }
}