/* HERO CSS */
.hero {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-position: left;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 0 4%;
}

.hero-bkg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

.hero-bkg.active {
  opacity: 1;
}


.hero-text {
    width: 50vw;
}

.hero-text h1 {
    font-size: 4.5em;
}

.hero-text p {
    font-size: 2em;
}


/* SIGN UP SECTION */
.sign-up-section {
    display: flex;
    flex-direction: column;
    padding: 0 4%;
}
.agent-image {
    width: 200px;
    height: auto;
}

.home-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-signup-text p {
    font-size: 1.5em;
}

.home-signup-text button {
    font-size: 1.2em;
}

.haunter-signup {
    flex-direction: row-reverse;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4%;
}

.testimonials-container {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.testimonials-card-container {
    display: flex;
    gap: 20px;
    width: 100%;
    animation: scroll 15s linear infinite;
}

/* KEYFRAMES TO TRANSLATE TESTIMONIAL CARDS */
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-1500px);
  }
}

.testimonial-card {
    display: flex;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    width: 500px;
    min-width: 500px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px var(--backgroundGray);
    padding: 10px 20px;
}

.users-image {
    min-width: 50px;
    max-width: 100px;
}

.users-image img {
    border-radius: 10px;
}

.user-info {
    font-weight: bold;
}

/* RESPONSIVE CSS */

@media (max-width: 769px) {
    .hero-text {
        width: 100%;
    }
}

@media (max-width: 426px) {
    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 3.4em;
    }

    .hero-text p {
        font-size: 1.5em;
    }

    .home-signup-text button {
        font-size: 1em;
    }

    .signup-button {
        padding: 10px;
    }
}