.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px 0;
    width: 100%;
}

.desktop-nav {
    transition: animation 2s ease-in;
}

.sticky-nav {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--mainWhite);
    background-color: var(--mainBlue);
    padding: 10px 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: slideDown 1s ease 1;
}

@keyframes slideDown {
    from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.nav-search-button {
    background-color: var(--mainBlue);
    color: var(--mainWhite);
}

.nav-search-button:hover {
    background-color: var(--secondBlue);
    color: var(--mainWhite);
}

.sticky-nav .nav-search-button {
    background-color: transparent;
    color: var(--mainWhite);
    border: 2px solid var(--mainWhite);
}

.sticky-nav .nav-search-button:hover {
    background-color: var(--mainWhite);
    color: var(--mainBlue);
}


.mobial-nav {
    display: none;
}

.logo-invinsible {
    display: none;
}

.nav-logo {
    width: 50px;
}

.nav-links-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.nav-link {
    font-family: var(--headingFont);
    font-size: 1.1em;
}


/* RESPONSIVE CSS */

/* NAVBAR */
@media (max-width: 959px) {
    .mobial-nav {
        display: flex;
        /* position: relative; */
    }
    .desktop-nav {
        display: none !important;
    }

    .sticky-nav {
        background-color: var(--mainWhite);
        padding: 10px 20px;
    }

    .nav-logo {
        width: 50px;
    }

    .search-bar {
        position: relative;
        display: flex;
        align-items: center;
    }

    .mobile-search-button {
        position: absolute;
        background-color: transparent;
        right: 0;
    }

    .menu-button {
        background-color: transparent;
        font-size: 1.2em;
        font-weight: bold;
    }

    .mobial-nav-list {
        display: none;
        transition: all 3s ease-in;
    }

    .open-nav-list {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        background-color: var(--mainWhite);
        top: 100%;
        left: 0;
        z-index: 1000;
    }

    .nav-links-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        list-style: none;
        color: var(--mainBlue);
    }
}