.signup-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.signup-container::before {
    position: absolute;
    content: "";
    background-color: var(--transparentBlack);
    background-image: url('../img/House-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    background-blend-mode: overlay;
    scale: 1.1;
    inset: 0;
    z-index: -1;
}

.signup-box {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 80vh;
    border-radius: 20px;
}

.signup-box-left {
    background-color: var(--mainBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    border-radius: 20px 0 0 20px;
}

.signup-logo {
    width: 200px;
}

.signup-box-right {
    display: flex;
    flex-direction: column;
    background-color: var(--mainWhite);
    width: 100%;
    border-radius: 0 20px 20px 0;
}

.signup-box-button {
    display: flex;
    width: 100%;
}

.signup-button {
    box-sizing: border-box;
    border-radius: 0px;
    width: 100%;
    padding: 20px;
}

.haunter-signup {
    border-radius: 0px 20px 0px 0px;
}

.signup-form {
    padding: 0 20px;
}

.fullname {
    display: flex;
    gap: 20px;
}

.fullname input {
    width: 100%;
}

/* RESPONSIVE CSS */
@media (max-width: 1025px) {
    .signup-box {
        width: 80%;
    }
}

@media (max-width: 769px) {
    .signup-box {
        width: 90%;
    }

    .signup-box-left {
        padding: 0 25px;
    }
}

/* MOBILE RESPONSIVE */
@media (max-width: 426px) {
    .signup-box {
        flex-direction: column;
        height: unset;
    }

    .signup-box-left {
        padding: 25px 0;
        border-radius: 20px 20px 0 0;
    }

    .signup-box-right {
        padding: 0 0 25px 0;
        border-radius: 0 0 20px 20px;
    }

    .haunter-signup {
        border-radius: 0px 0px 0px 0px;
    }
}
