.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease;
}

.slide {
  /* min-width: 100%; */
}
  
.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
