.admin {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.admin-top {
    width: 100%;
    flex-shrink: 0;
}

.admin-bottom {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0; /*Allows it to take up the full remaining height*/
}