.admin-sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--mainBlack);
    z-index: 1000;
}

.admin-sidebar-top {
    margin-bottom: 20px;
}

.admin-sidebar-top .close-arrow {
    margin-top: 0;
}

.admin-sidebar-top .sidebar-option {
    padding: 20px 10px;
}