.admin-agents-heading {
    margin-bottom: 15px;
}

.admin-agent-table {
    background-color: var(--mainWhite);
    box-shadow: 0 0 5px var(--mainBlack);
    border-radius: 10px;
    padding: 10px 15px;
}