:root {
  --mainWhite: #fff;
  --mainBlack: #000;
  --backgroundGray: #EFEFEF;
  --transparentWhite: rgb(255, 255, 255, 0.5 );
  --transparentBlack: rgb(0, 0, 0, 0.5);
  --headingFont: "Inter", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  
}


h1 {
  font-family: var(--headingFont);
}

h2 {
  font-family: var(--headingFont);
}

p {
  font-family: var(--headingFont);
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
button:hover {
  
}
button:focus,
button:focus-visible {
  
}

img {
  width: 100%;
  height: auto;
}

section {
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: transparent;
}

.password /**Form Password input**/{
  position: relative;
  display: flex;
}

.password input {
  width: 100%;
}

.password-eye {
  position: absolute;
  right: 3%;
  top: 30%;
}