:root {
  --mainWhite: #f5f7fa;
  --mainBlack: #1f1f1f;
  --mainBlue: #0d47a1;
  --secondBlue: #1a73e8;
  --mainRed: #bc0808;
  --textGray: #a2a3a4;
  --backgroundGray: #E1e5eb;
  --backgroundBlue: #e5efff;
  --transparentWhite: rgb(255, 255, 255, 0.5 );
  --transparentBlack: rgb(0, 0, 0, 0.5);
  --transparentBlue: #0d48a1a3;
  --transparentRed: #bc0808e3;
  --headingFont: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: var(--mainWhite);
}

a {
  text-decoration: none;
  color: inherit;
}


h1 {
  font-family: var(--headingFont);
}

h2 {
  font-family: var(--headingFont);
  margin: 0;
}

h3 {
  font-family: var(--headingFont);
  margin: 0;
}

p {
  font-family: var(--headingFont);
  color: var(--textBlack);
  margin: 0;
}

.bold {
  font-weight: bold;
}

ul {
  list-style: none;
  font-family: var(--headingFont);
}

button {
  padding: 15px 20px;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background0-color 0.5s ease, color 0.5s ease;
}


@media (hover: hover) {
  button:hover {
    background-color: var(--secondBlue);
  }
}


img {
  width: 100%;
  height: auto;
}

.tiny {
  font-size: 0.65em;
  color: var(--textGray);
}

.bold {
  font-weight: bold;
}

section {
  margin-top: 70px;
  padding: 0 4%;
}

section h2 {
  font-size: 2em;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--headingFont);
}

.form-input {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.8em;
  margin-bottom: 5px;
  padding-left: 10px;
}

.card {
  padding: 15px 10px;
  border-radius: 10px;
  max-width: 500px;
  height: 220px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--mainBlue);
  background: transparent;
  outline: transparent;
}

.password /**Form Password input**/{
  position: relative;
  display: flex;
}

.password input {
  width: 100%;
}

.password-eye {
  position: absolute;
  right: 3%;
  top: 30%;
}

/* TABLE CSS */
table {
    text-align: left;
    vertical-align: middle;
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 0 25px;
}

.table-heading-row {
  background-color: var(--mainBlue);
  color: var(--mainWhite);
}

th {
    padding: 10px;
}

td {
  padding: 0 10px;
}

th h3 {
    font-size: 0.7em;
}

tbody tr 

td p {
    font-size: 0.6em;
}

.table-body-data img {
    width: 30px;
    /* border-radius: 50%; */
    /* background-color: var(--secondBlue); */
}

.table-body-data .action-buttons {
  display: flex;
  gap: 20px;
}

.action-buttons button {
  padding: 5px 10px;
  font-size: 0.6em;
  border-radius: 10px;
}