:root {
  --mainWhite: #f5f7fa;
  --mainBlack: #1f1f1f;
  --mainBlue: #0d47a1;
  --secondBlue: #1a73e8;
  --backgroundGray: #E1e5eb;
  --transparentWhite: rgb(255, 255, 255, 0.5 );
  --transparentBlack: rgb(0, 0, 0, 0.5);
  --headingFont: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: var(--mainWhite);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  
}


h1 {
  font-family: var(--headingFont);
}

h2 {
  font-family: var(--headingFont);
}

h3 {
  font-family: var(--headingFont);
}

p {
  font-family: var(--headingFont);
  color: var(--textBlack);
}

ul {
  list-style: none;
  font-family: var(--headingFont);
}

button {
  padding: 15px 20px;
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background0-color 0.5s ease, color 0.5s ease;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--secondBlue);
  }
}


img {
  width: 100%;
  height: auto;
}

.bold {
  font-weight: bold;
}

section {
  margin-top: 70px;
  padding: 0 4%;
}

section h2 {
  font-size: 2em;
  font-weight: 900;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 15px 10px;
  border-radius: 10px;
  max-width: 500px;
  height: 220px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--mainBlue);
  background: transparent;
}

.password /**Form Password input**/{
  position: relative;
  display: flex;
}

.password input {
  width: 100%;
}

.password-eye {
  position: absolute;
  right: 3%;
  top: 30%;
}